@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeece8;
  --foreground: #45381d;
}

@font-face {
  font-family: "Bagnard";
  src: url("/fonts/Bagnard.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Bagnard";
}
